body {
    background-color:#2f4f4f;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 30%;
    padding: 20px 10px;
    margin: 10px; 
    background: lightblue;
    border-radius: 5px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    display: block;
    margin:auto;
}

.assignment img:hover {
    border: 2px dashed #2f4f4f
}

h1 {
    color: black;
    text-align:center;
}

h1:hover {
    color: #ADD8E6
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #2f4f4f
}